common-margin {
    margin-left: 250px;
    padding: 0 30px;
}
$fontStyleh1: "Patrick Hand", cursive;
$fontStylep: "Raleway", sans-serif;

// Color definition for text
$textColorBeige: #FFE7CB;
$textColorGreen: #01504D;

//CSS for Title of the page
.table-funding h2 {
    color: #01504D;
    font-family: "Patrick Hand", cursive;
}

//CSS for Table containing all the fundings
.table-funding table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    font-family: $fontStyleh1;
    font-size: 1rem;
    color: $textColorGreen;
    margin:20px 0;
}

.table-funding td,
.table-funding th {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
}

.table-funding td {
    text-align: center;
}

//CSS for button to add a funding
.add-funding {
    border-radius: 5px;
    background-color:#01504D;
    color: white;
    font-family: "Raleway", sans-serif;
    border: none;
    padding: 10px;
    width: 150px;

}
.add-funding:hover {
    background-color: #da980b;
    cursor: pointer;
  }
//CSS for supress button
.supressfunding-btn, .dl-btn {
    border-radius: 5px;
    background-color:#01504D;
    color: white;
    font-family: "Raleway", sans-serif;
    border: none;
    padding: 5px;
}


//CSS for the form to submit a new funding
.container_partenaires{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.leslabels label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    color: $textColorGreen;
    font-family: $fontStyleh1;
}

.EnvoyerPartner{
    border-radius: 20px;
    background-color:#01504D;
    color: #FFE7CB;
    font-family: "Raleway", sans-serif;
    border: none;
    padding: 10px;
    margin: 30px;
    width: 150px;
   
}
.inputPart{
    width: 500px;
    height: 50px;

}

.submit-Partner{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    margin-bottom: 20px;
}