.nav-menu {
    background-color: #01504D;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
}

.nav-text {
    list-style: none;
    height: 60px;
    font-family: "Patrick Hand", cursive;
}

.nav-text a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    width: 250px;;
    height: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.nav-text a:hover {
    background-color: white;
    color: #01504D;
}
