* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  .arbusteContainer{
    background-image: url(../../../public/picturesAuthor/feuillage.png);
    background-position: center top;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 250px;
    width: 100%;
  }
