* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  .arbusteContainer{
    background-image: url(../../../public/picturesAuthor/arbuste.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 320px;
    width: 100%;
  }
