// Font definition
$fontStyleh1: "Patrick Hand", cursive;
$fontStylep: "Raleway", sans-serif;

// Color definition for text
$textColorBeige: #ffe7cb;
$textColorGreen: #01504d;

//Color definition for background
$colorJungleGreen: #01504d;
$colorLightGreen: #40c2aa;
$colorSand: #feb250;

.bg-funding {
  background-color: $colorSand;
}
.bg-funding h1 {
  font-family: $fontStyleh1;
  color: $textColorGreen;
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
}

.bg-funding p {
  padding: 60px 200px;
  font-family: $fontStylep;
  color: $textColorGreen;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

.titles {
  font-family: Patrick Hand, cursive;
  color: #01504d;
  font-size: 5.7vh;
  display: flex;
  justify-content: center;
}

.monkey {
  margin-bottom: 50px;
  margin-top: 50px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

.inject_picture {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  margin-top: 2%;
  padding-bottom: 5%;
}

@media screen and (max-width: 670px) {
  .inject_picture {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 4%;
    margin-bottom: 4%;
    padding-bottom: 5%;
  }
  .bg-funding p {
    padding: 10px 40px;
    font-size: 1.1rem;
    font-weight: normal;
    text-align: center;
  }
  .bg-funding h1 {
    font-family: $fontStyleh1;
    color: $textColorGreen;
    margin-top: -65px;
    margin-bottom: 40px;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
  }

  .titles {
    margin-bottom: 30px;
    font-family: Patrick Hand, cursive;
    color: #01504d;
    font-size: 4.5vh;
    display: flex;
    justify-content: center;
  }

  .monkey {
    display: flex;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .bg-funding p {
    padding: 10px 100px;
    font-size: 1.2rem;
    font-weight: normal;
    text-align: center;
  }
  .bg-funding h1 {
    font-family: $fontStyleh1;
    color: $textColorGreen;
    margin-top: -65px;
    margin-bottom: 40px;
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
  }

  .titles {
    margin-bottom: 30px;
    font-family: Patrick Hand, cursive;
    color: #01504d;
    font-size: 3vh;
    display: flex;
    justify-content: center;
  }

  .monkey {
    display: flex;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
  }
}
