.container {
  background-image: url("../../../public/nouvwelcome.jpg");
  height: 100px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Patrick Hand", cursive;
  color: #ffe7cb;
  display: flex;
  justify-content: space-evenly;
}

.mailcontact {
  font-family: "Patrick Hand", cursive;
  color: #ffe7cb;
  font-size: 23px;
  display: flex;
  align-items: center;
  margin: 17px;
  text-decoration: none;
}
.facebook {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.facebook:hover {
  transform: scale(1.4);
}
.reseausocial {
  height: 70px;
  width: 70px;
  margin-top: 15px;
}
@media screen and (max-width: 670px) {
  .container {
    width: 100%;
    font-size: 20px;
  }
  .mailcontact {
    font-size: 17px;
    padding: 10px;
  }
  .reseausocial {
    height: 70px;
    width: 70px;
    padding: 10px;
  }
}
