.news {
  background-color: #01504d;
  font-family: "Patrick Hand", cursive;
  color: #ffe7cb;
  font-size: 20px;
  width: 100%;
  height: 100%;
}
.news h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 3.5rem;
}
.new {
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 90%;
  align-items: center;
  padding: 20px;
  padding-left: 100px;
}
.police {
  font-family: "Patrick Hand", cursive;
}
.equipe {
  height: 100px;
  width: 200px;
  object-fit: contain;
  -webkit-filter: grayscale(0) blur(0px);
  filter: grayscale(0) blur(0px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.4s ease;
}
.equipe:hover {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.remerciements {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.img {
  height: 250px;
  width: 320px;
  padding: 15px;
  border-radius: 30px;
}
.paragraphe {
  display: flex;
  align-items: flex-start;
  font-family: "Raleway", sans-serif;
  flex-direction: column;
  padding-top: 80px;
  padding-left: 20px;
}
.css {
  display: flex;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .news h1 {
    margin-bottom: 60px;
    margin-top: -50px;
    font-size: 3.5rem;
  }
  .paragraphe {
    font-size: 15px;
    padding-top: 15px;
  }
  .remerciements p {
    font-size: 12px;
    margin-bottom: -30px;
  }
}
@media screen and (max-width: 670px) {
  .news h1 {
    margin-bottom: 20px;
    margin-top: -50px;
    font-size: 2.5rem;
  }
  .paragraphe p {
    font-size: 15px;
    text-justify: auto;
  }
  .img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .police {
    font-size: 13px;
  }
  .remerciements p {
    font-size: 10px;
    margin-bottom: -30px;
  }
  .remerciements {
    padding: 30px 40px;
  }
  .equipe {
    height: 50px;
    width: 100px;
    margin-bottom: -15px;
  }
  .css {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.new {
  padding-left:50px;
}
.paragraphe{
  padding-top: 0px;
  padding-bottom: 40px;
}
.police {
  font-size: 1.2rem;
}
}
