// * {
//   padding: 0px;
//   margin: 0px;
//   box-sizing: border-box;
//   font-family: "Patrick Hand", cursive;
//   color: #ffe7cb;
// }
.news {
  background-color: #01504d;
}
.avenir {
  display: flex;
  justify-content: center;
}
