.bg-books {
    background-color: #40C2AA;
}
.books-content {
    padding: 20px;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;;
}
.bg-books h1 {
    font-family: "Patrick Hand", cursive;
    color:#01504D;
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
}
.books-content h2 {
    font-family: "Raleway", sans-serif;
    color:#01504D;
    font-size: 1.5rem;
    text-align: center;
}
.books-content p {
    font-family: "Raleway", sans-serif;
    color:#01504D;
    text-align: center;
    font-size: 1.2rem;
    margin: 2% 20%;
}
.books-content img {
    width: 130px;
}
.price-book {
    font-weight:bold;
    font-size: 1.3rem;
    padding: 20px;
}
.books-content button {
    border-radius: 20px;
    background-color:#01504D;
    color: #FFE7CB;
    font-family: "Raleway", sans-serif;
    border: none;
    font-size: 1.5rem;
    padding: 15px;
    width: 250px;
}
.books-content button:hover {
  background-color: #da980b;
  cursor: pointer;
}

.carousel-container {
    width: 40%;
    padding: 40px;  
}

.carousel-container img {
    border-radius: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .carousel-container {
        width: 90%;
    }

}

@media screen and (max-width: 670px) {
    .carousel-container {
        width: 100%;
    }
    .books-content p {
        margin: 0;
        font-size: 1rem;
    }

    .bg-books h1 {
        font-size: 30px;
    }

    .bg-books h2 {
        font-size: 1.2rem;
    }

    .books-content button {
        font-size: 1rem;
    }
}